body{
    background-color: rgb(58, 65, 65);
}
h1{
    color: rgb(0, 255, 34);
    font-family: "workbench", "consolas", sans-serif;
    font-weight: lighter;
}
h2{
    font-family: "consolas", sans-serif;
    color: rgb(5, 34, 12) ;
}
p{
    font-family: "consolas", sans-serif;
}
.link{
    color: aliceblue;
}
.line{
    border-color:darkolivegreen;
}
ul{
    text-align: center;
    list-style: inside;
}
.paragraph{
    background-color: lightgreen;
}